[Unit]
Description=RK3506JS Student Linux Client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/student_linux
ExecStart=/opt/student_linux/start.sh
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
